.cell-row {
  display: flex;
  text-align: center;
  background-color: #3f51b5;
  color: #fff;
}

.header-cell {
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  flex: 1;
  font-weight: 400;
}
