@use "@angular/material" as mat;

.event-box {
  width: 500px;
  background-color: #fff;
  box-shadow: 0 0 5px;
  border-radius: 4px;
  overflow: hidden;
}
.form {
  padding: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #3f51b5;
  align-items: center;
  color: #fff;
}
.close-btn {
  padding: 0;
  width: 36px;
  height: 36px;
  background-color: transparent;
  color: #fff;
}
.title {
  margin-left: 7px;
}

.time-field {
  width: 100%;
}

.time-flat {
  width: 10%;
  text-align: center;
  cursor: pointer;
}
.end {
  margin: 0 10px;
}
.row {
  @include mat.all-component-densities(-2);
}
.btn {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
}
.form-row {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  justify-content: space-between;
}

.dropdown {
  position: absolute;
  top: 2rem;
  width: 100%;
}
.select-container {
  position: relative;
}
.select-input {
  position: absolute;
  top: 7px;
  z-index: 33;
  outline: none;
  border: none;
  left: 10px;
  width: 80%;
}
