<div class="event-box">
  <div class="header">
    <span class="title">Calendar</span>
    <button class="close-btn" mat-icon-button (click)="closeBox.emit()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <form class="form" (ngSubmit)="save()" [formGroup]="form">
    <div class="row">
      <mat-form-field appearance="outline">
        <input
          formControlName="name"
          matInput
          type="text"
          placeholder="Event Name"
        />
      </mat-form-field>
    </div>
    <div class="form-row">
      <div class="select-container">
        <input type="text" class="select-input select-input--left" />
        <mat-form-field class="time-field" appearance="outline">
          <mat-select formControlName="startTime">
            <ng-container *ngFor="let t of intervals">
              <mat-option [value]="t.hour" *ngFor="let minute of t.minutes">
                <span>{{ t.hour }}</span>
                <span>:</span>
                <span>{{ minute }}</span>
                <span>{{ t.type }}</span>
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="select-container">
        <input type="text" class="select-input" />
        <mat-form-field class="time-field" appearance="outline">
          <mat-select formControlName="endTime">
            <ng-container *ngFor="let t of intervals">
              <mat-option [value]="t.hour" *ngFor="let minute of t.minutes">
                <span>{{ t.hour }}</span>
                <span>:</span>
                <span>{{ minute }}</span>
                <span>{{ t.type }}</span>
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" mat-raised-button color="primary">Save</button>
    </div>
  </form>
</div>
