<div class="cell-container" (click)="onCellClick()">
  <div
    class="cell"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    [ngClass]="{ disabled: cell.disabled }"
  >
    <div
      *ngIf="selectedDay === cell.day && !cell.disabled"
      class="selected"
    ></div>
    <span
      class="day-number"
      [ngClass]="selectedDay === cell.day && !cell.disabled ? 'blue' : ''"
      >{{ cell.day }}</span
    >
    <p class="event" *ngFor="let event of events">
      {{
        event.startTime.hour +
          ":" +
          event.startTime.minute +
          " " +
          event.startTime.type
      }}
      {{ event.name }}
    </p>
  </div>
</div>
<app-overlay-container
  (shouldClose)="isOpen = false"
  [trigger]="trigger"
  [isOpen]="isOpen"
>
  <app-event-box
    *ngIf="isOpen"
    (saveEvent)="saveEvent($event)"
    (closeBox)="isOpen = false"
  ></app-event-box>
</app-overlay-container>
