<div class="cell-container">
  <div
    class="cell"
    [ngClass]="{ disabled: cell.disabled }"
    (click)="isOpen = true"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
  >
    <div
      *ngIf="selectedDay === cell.day && !cell.disabled"
      class="selected"
    ></div>
    <span
      class="day-number"
      [ngClass]="selectedDay === cell.day && !cell.disabled ? 'blue' : ''"
      >{{ cell.day }}</span
    >
    <p class="event" *ngFor="let event of events">
      {{
        event.startTime.hour +
          ":" +
          event.startTime.minute +
          " " +
          event.startTime.type
      }}
      {{ event.name }}
    </p>
  </div>
  <app-overlay-container
    (shouldClose)="isOpen = false"
    [trigger]="trigger"
    [isOpen]="isOpen"
  >
    <app-event-box
      (saveEvent)="saveEvent($event)"
      (closeBox)="isOpen = false"
    ></app-event-box>
  </app-overlay-container>
</div>
