<div class="cell-container">
  <div
    class="cell"
    [ngClass]="{ disabled: cell.disabled }"
    [matMenuTriggerFor]="!cell.disabled ? menu : null"
    #menuTrigger="matMenuTrigger"
  >
    <div
      *ngIf="selectedDay === cell.day && !cell.disabled"
      class="selected"
    ></div>
    <span
      class="day-number"
      [ngClass]="selectedDay === cell.day && !cell.disabled ? 'blue' : ''"
      >{{ cell.day }}</span
    >
    <p class="event" *ngFor="let event of events">
      {{
        event.startTime.hour +
          ":" +
          event.startTime.minute +
          " " +
          event.startTime.type
      }}
      {{ event.name }}
    </p>
  </div>
  <mat-menu
    #menu="matMenu"
    class="custom-mat-menu"
    yPosition="below"
    xPosition="before"
  >
    <div
      #eventContainer
      (keydown.tab)="$event.stopPropagation()"
      (click)="$event.stopPropagation()"
    >
      <app-event-box
        (saveEvent)="saveEvent($event)"
        (closeBox)="menuTrigger.closeMenu()"
      ></app-event-box>
    </div>
  </mat-menu>
</div>
